<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">

    <style>
        .container{
            margin-top: 50px;
        }
        text{
            color: red;
        }
    </style>
</head>
<body>

    <h2>Ticket</h2> 

    <div class = "container">
        <div class = "row">
            <div class = "col-md-6">
                <form id="myform" action = "/form_data" method = "post">
                    <div class = "mb-3">
                        <label for = "name" class = "form-label">Passenger Name</label>
                        <input type = "text" name = "passenger_name" class = "form-control" id = "name" placeholder="Passenger Name ..">
                    </div>
                    <div class = "mb-3">
                        <label for = "From" class = "form-label">From</label>
                        <input type = "text" name = "From" class = "form-control" id = "from">
                    </div>
                    <div class = "mb-3">
                        <label for = "To" class = "form-label">TO</label>
                        <input type = "text" name = "To" class = "form-control" id = "from">
                    </div>
                    <div class = "mb-3">
                        <label for = "journey date" class = "form-label">journey date</label>
                        <input type = "date" name = "journey_date" class = "form-control" id = "email">
                    </div>
                    <div class = "mb-3">
                        <label for = "coach type" class = "form-label">coach type</label>
                        <select name="coach_type">
                            <option value="sleeper">sleeper</option>
                            <option value="AC-1">AC-1</option>
                            <option value="AC-2">AC-2</option>
                            <option value="AC-3">AC-3</option>
                            <option value="sleeper">sleeper</option>
                            <option value="chair car">chair car</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

        </div>
    </div>
    

    <script src = "js/bootstrap.bundle.min.js"></script>

    <script src = "https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>

    <script src = "https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/additional-methods.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>


</body>
</html>