<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">

    <style>
        .container{
            margin-top: 50px;
        }
        text{
            color: red;
        }
    </style>
</head>
<body>

    <h2>Student Enrollment Form </h2> 

    <div class = "container">
        <div class = "row">
            <div class = "col-md-6">
                <form id="myform" action = "/" method = "post">
                    <div class = "mb-3">
                        <label for = "name" class = "form-label">Name</label>
                        <input type = "text" name = "name" class = "form-control" id = "name">
                    </div>
                    <div class = "mb-3">
                        <label for = "enrollmentNumber" class = "form-label">Enrollment Number</label>
                        <input type = "number" name = "enrollmentNumber" class = "form-control" id = "enrollmentNumber">
                    </div>
                    <div class = "mb-3">
                        <label for = "email" class = "form-label">Email id</label>
                        <input type = "text" name = "email" class = "form-control" id = "email">
                    </div>
                    <div class = "mb-3">
                        <label for = "mobile" class = "form-label">Mobile Number</label>
                        <input type = "text" name = "mobile" class = "form-control" id = "mobile">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

        </div>
    </div>
    

    <script src = "js/bootstrap.bundle.min.js"></script>

    <script src = "https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>

    <script src = "https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/additional-methods.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script>
// just for the demos, avoids form submit
jQuery.validator.setDefaults({
  debug: true,
  success: "valid"
});
$( "#myform" ).validate({
  rules: {
    name: {
      required: true
    },
    enrollmentNumber: {
      required: true,
      digits: true
    },
    email: {
      required: true,
      email: true
    },
    mobile: {
      required: true,
      digits: true,
      minlength: 10,
      maxlength: 10
    }
  }
});
</script>

</body>
</html>